.container
  .footer
    hr(style='margin: 30px 0 10px 0;')
    p
      a(href='#') A Waterloo Hack
link(rel='stylesheet', href='/css/grayscale.css')
link(rel='stylesheet', href='/css/style.css')
script(src='/lib/bootstrap/bootstrap.min.js')
block footer