doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript' src='js/facebook-login.js')
  body
    #fb-root
    h1 Brogramming
    #my-account
      div(class="authenticated", style="display: none")


    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.

    script(type='text/javascript' src='/lib/jquery.facebook.js')
    script(type='type/javascript' src='lib/jquery.min.js')
    script(type='type/javascript' src='lib/FeatureLoader.js.php')
