doctype html
html(lang="en")
  head
    title= pageTitle
    script(src='../lib/jquery.min.js')
    link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/css/pages.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans', type='text/css')
    script(src='/lib/react.js')
  body
    div.container
      div#header
        h1
          | Brogramming Levels
        p
          | Let's get started here. Learning how to code can't possibly be more fun than with a bro. So let's code with a bro, also known as brogramming.
      div#levels
    script(src='/js/build/pages.js')
