body {
  height: 100%;
  width: 100%;
  min-width: 1200px;
  min-height: 750px;
}

body div#box {
  display: block;
  height: 100%;
  width: 100%;
}

body div#left {
  background-color: #F0F0F0;
  border-right: 25px solid #F0F0F0;
  float: left;
  font-family: 'Open Sans', sans-serif;
  display: block;
  width: 50%;
}

div#left div.cd-tabs {
  width: 581px;
  margin-left: 48px;
  height: 5%;
}

div#left div.cd-tabs nav ul {
  padding: 0;
  margin: 0;
}

div#left div.cd-tabs nav ul li {
  display: inline-block;
  list-style-type: none;
  height: 40px;
  width: 100px;
  background-color: #eee;
}

div#left div.cd-tabs nav ul li a {
  display: block;
  text-align: center;
  padding-top: 10px;
  height: 100%;
  width: 100%;
}

div#left div.cd-tabs nav ul li a:link {
  color: #000;
  text-decoration: none;
}

div#left div.cd-tabs nav ul li a.selected {
  background-color: #272822;
  color: #FFF;
}

div#left div.cd-tabs-content li {
  display: none;
}

div#left div.cd-tabs-content li.selected {
  display: block;
}

div#left div.cd-tabs-content li textarea {
  background-color: #272822;
  color: #fdf6e3;
  cursor: default;
  font-family: FreeMono, monospace;
  font-size: 14px;
  resize: none;
  width: 100%;
}

div#left div.buttons {
  height: 48px;
}
div#left div.buttons button#documentation {
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  width: 140px;
}

div.buttons .right {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  width: 60px;
}

div.buttons .spinner {
  visibility: hidden;
  margin-top: 16px;
  margin-right: 25px;
}

div.buttons div#statementCount {
  visibility: hidden;
  margin-top: 14px;
  margin-right: 25px;
  width: auto;
}

div#right {
  background-color: #272822;
  display: block;
  float: right;
  margin: 0 auto 0 auto;
  width: 50%;
  height: 100%;
}

div#right div#mapContainer {
  padding: 0;
  background-color: #272822;
}

div#right div#map {
  display: block;
  margin-top: 50px;
  width: 100%;
  height: 70%;
}

div#right div#map canvas {
  background-color: #232C31;
  display: block;
  margin: 0 auto 0 auto;
}

div#right div#space{
  height: 20%;
}

div#right div#description {
  position: relative;
  padding-top: 25px;
  background-color: #ddd;
  margin-top: 10%;
  height: 330px;
  width: 100%;
}

div#right div#description div.textWrapper {
  background-color: #272822;
  color: #fff;
  display: block;
  height: 270px;
  margin: 0 auto 50px auto;
  padding: 20px;
  width: 92%;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 5px 5px 5px #888888;
}

div#right div#description div.textWrapper .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.modal-backdrop {
  z-index: -1;
}

div.modal-content {
  height: 600px;
  padding: 100px;
}

div.modal-content h1 {
  font-size: 30px;
}

div.modal-content ul {
  width: 400px;
}

div.modal-content ul li {
  margin-top: 5px;
  height: 40px;
}
