html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #456040;
  height: 100%;
  width: 100%;
}

body div.container {
  font-family: 'Open Sans', sans-serif;
  color: #908085;
  padding: 0;
}

body div.container div#header {
  background-color: #453334;
  color: #ccc;
  padding-top: 50px;
  padding-bottom: 50px;
}

body div.container div#header h1 {
  text-align: center;
  margin: 0;
}

body div.container div#header p {
  font-size: 18px;
  text-align: center;
  margin: 10px auto 0 auto;
  width: 600px;
}

body div.container {
  background-color: #203737;
  box-shadow: 5px 5px 5px #111111;
  display: block;
  height: 800px;
}

body div.container div#levels {
  margin: 30px auto 0 auto;
  width: 560px;
}

body div.container div#levels .level {
  border-radius: 50%;
  display: inline-block;
  height: 150px;
  width: 150px;
  padding: 36px;
  padding-top: 52px;
  margin: 10px;
}

body div.container div#levels .level {
  text-align: center;
  font-size: 24px;
}

body div.container div#levels .level a:link {
  text-decoration: none;
  color: #fff;
}

body div.container div#levels .level a:active {
  text-decoration: none;
  color: #fff;
}

body div.container div#levels .level a:visited {
  text-decoration: none;
  color: #fff;
}

body div.container div#levels .level a:hover {
  text-decoration: none;
  color: #fff;
}

body div.container div#levels .level a {
  text-decoration: none;
  color: #fff;
}
